<div ng-if="acl.can('create_role')">
  <md-card>
    <md-card-content>
      <h3> Role erstellen</h3>
      <md-input-container flex>
        <input type="text" placeholder="Rollenname" ng-model="role_name">
      </md-input-container>
      <md-button class="md-primary md-raised" ng-click="rightsCtrl.createRole(role_name)">erstellen</md-button>
    </md-card-content>
  </md-card>
</div>

<div ng-if="acl.can('edit_role')">
  <md-card>
    <md-card-content>
      <h3> Role bearbeiten</h3>
      <md-select placeholder="Rolenname" ng-model="role_nameEdit">
        <md-option ng-repeat="role in rightsCtrl.all_roles">{{role.name}}</md-option>
      </md-select>
        <div layout="row" layout-wrap>
          <div flex="50" ng-repeat="right in rightsCtrl.optionalRights">
            <md-checkbox ng-checked="exists(right, selectedRights)" ng-click="toggle(right, selectedRights)">
              {{ right }} <span ng-if="exists(right, selectedRights)" style="color: #339646">selected</span>
            </md-checkbox>
          </div>
        </div>
      </label>
      <md-button class="md-primary md-raised" ng-click="rightsCtrl.editRole(role_nameEdit,selectedRights)">bearbeiten</md-button>
    </md-card-content>
  </md-card>
</div>

<div ng-if="acl.can('assign_role')">
  <md-card>
    <md-card-content>
      <h3> Rolle zuweisen </h3>
      <md-select placeholder="Rollenname" ng-model="role.name">
        <md-option ng-repeat="role in rightsCtrl.all_roles">{{role.name}}</md-option>
      </md-select>
      <md-select placeholder="Nutzername" ng-model="user.name">
        <md-option ng-repeat="user in rightsCtrl.all_users">{{user.name}}</md-option>
      </md-select>
      <md-button class="md-primary md-raised" ng-click="rightsCtrl.assignRole(user.name,role.name)">erstellen</md-button>
    </md-card-content>
  </md-card>
</div>

<div ng-if="acl.can('delete_role')">
  <md-card>
    <md-card-content>
      <h3> Rolle löschen </h3>
      <md-select placeholder="Rollenname" ng-model="role.name">
        <md-option ng-repeat="role in rightsCtrl.all_roles">{{role.name}}</md-option>
      </md-select>
      <md-button class="md-primary md-raised" ng-click="rightsCtrl.deleteRole(role.name)">löschen</md-button>
    </md-card-content>
  </md-card>
</div>
