<div ng-controller="SpeedCtrl as speedCtrl">
<md-card ng-if="acl.can('view_tempo')">

  <md-card-content style="height: 300px" >
    <pie-chart style="height: 300px" flex data="speedCtrl.graph" options="speedCtrl.opt"></pie-chart>
  </md-card-content>
</md-card>

<md-card ng-if="acl.can('vote_tempo')">
<md-card-content>
<h2>Geschwindigkeit regulieren</h2>
  <md-button class="md-raised md-primary" ng-click="speedCtrl.faster()">
    <fa name="plus"></fa> schneller
  </md-button>
  <md-button class="md-raised md-primary" ng-click="speedCtrl.slower()">
    <fa name="minus"></fa> langsamer
  </md-button>
</div>

</md-card-content>
</md-card>
</div>

