<md-card ng-controller="SpeedCtrl as speedCtrl" ng-if="acl.can('regulate_speed')">
<md-card-content>
<h2>Geschwindigkeit regulieren</h2>

<div ng-if="speedCtrl.chosenSpeed == ''" layout="row">
  <md-button class="md-raised md-primary" ng-click="speedCtrl.faster()">
    <fa name="plus"></fa> schneller
  </md-button>
  <md-button class="md-raised md-primary" ng-click="speedCtrl.slower()">
    <fa name="minus"></fa> langsamer
  </md-button>
</div>

<div ng-if="speedCtrl.chosenSpeed != ''">
	<p><strong>Ausgewählte Geschwindigkeit: &emsp;</strong>{{ speedCtrl.chosenSpeed }}</p>
	<md-button class="md-raised md-primary" ng-click="speedCtrl.reset()">
    ändern
  </md-button>
</div>

</md-card-content>
</md-card>

