<div class="tabsdemoDynamicHeight" ng-app="MyApp">
    <h1 class="login-header"> LiFi | Live Feedback</h3>
    <div class="login-form">
      <h3> Anmeldung<h3>
      <md-input-container flex>
        <label>EMail</label>
        <input ng-model="email">
      </md-input-container>
      <md-input-container flex>
        <label >Passwort</label>
        <input type="password" ng-model="password">
      </md-input-container>

      <md-button class="md-raised md-primary" ng-click="loginCtrl.login(email, password)">Login</md-button>
    </div>
</div>
