<div class="col-md-12">
    <div class="container">
      <h1>LiFi | Live Feedback </h1>
      <h3>Anmeldung | Registrierung</h3>
      <input type="text" name="userName" placeholder="username" class="in inTxt" value="">
      <input type="text" name="passWord" placeholder="password" class="in inTxt">
      <button type="submit" class="in button" onclick="window.location.href ='teilnehmerDefault.html';">send</button>
      <!-- #Bug 2440 -->
      <a href="#admin">admin</a>
      <a href="#dozent">dozent</a>
    </div>
</div>