<md-card>
  <md-card-content>
    <h3> {{user.email}} </h3>
    
    <md-input-container flex>
      <label> Email </label>
      <input type="text" ng-model="userCtrl.user.email"></input>
    </md-input-container>
    <md-input-container flex>
      <label> Name</label>
      <input type="text" ng-model="userCtrl.user.name"></input>
    </md-input-container>
    <md-input-container flex>
      <label>Password</label>
      <input type="password" ng-model="userCtrl.user.password"></input>
    </md-input-container>
    <div flex layout="row">
      <md-button class="md-raised md-primary" ng-click="userCtrl.save()">Speichern</md-button>
      <md-button class="md-raised" ng-click="$state.go('user')">Abbrechen</md-button>
      <div layout="row" flex layout-align="end center">
        <md-button class="md-raised" ng-click="userCtrl.delete()">User löschen</md-button>
      </div>
    </div>
  </md-card-content>
</md-card>
