<div ng-if="acl.can('join_lecture')">
  <md-card ng-if="mainCtrl.my_rooms.length > 0">
    <md-card-content>
    <h3> Meine Räume </h3>
    <md-list>
      <md-list-item ng-repeat="room in mainCtrl.my_rooms">
        <a ui-sref="room({roomId: room.id})">
          <fa name="arrow-right"> </fa>
          {{room.name}}
        </a>
      <md-divider></md-divider>
      </md-list-item>
    </md-list>
    </md-card-content>
  </md-card>

  <md-card>
    <md-card-content>
      <h3>Veranstaltung beitreten</h3>
      <md-input-container flex>
        <md-select placeholder="Raumname" ng-model="room_name">
          <md-option ng-repeat="room in mainCtrl.room_names" value="{{room}}">{{room}}</md-option>
        </md-select>
      </md-input-container>
      <md-input-container flex>
        <label>Password</label>
        <input type="password" ng-model="room_password">
      </md-input-container>
      <md-button class="md-primary md-raised" ng-click="mainCtrl.joinRoom(room_name, room_password)">beitreten</md-button>
  </md-card-content>
  </md-card>
</div>
<div ng-if="acl.can('create_room')">
  <md-card>
    <md-card-content>
      <h3> Veranstaltung erstellen</h3>
      <md-input-container flex>
        <input type="text" placeholder="Raumname" ng-model="room_name">
      </md-input-container>
      <md-input-container flex>
        <input type="password" placeholder="Password" ng-model="room_passkey">
      </md-input-container>
      <md-button class="md-primary md-raised" ng-click="mainCtrl.createRoom(room_name, room_passkey)">erstellen</md-button>
    </md-card-content>
  </md-card>
</div>

<div ng-if="acl.can('create_account')">
  <md-card>
    <md-card-content>
      <h3> Account erstellen</h3>
      <md-input-container flex>
        <input type="text" placeholder="Accountname" ng-model="account_name">
      </md-input-container>
      <md-input-container flex>
        <input type="password" placeholder="Password" ng-model="account_password">
      </md-input-container>
      <md-button class="md-primary md-raised" ng-click="mainCtrl.createAccount(account_name, account_password)">erstellen</md-button>
    </md-card-content>
  </md-card>
</div>

<div ng-if="acl.can('create_role')">
  <md-card>
    <md-card-content>
      <h3> Account erstellen</h3>
      <md-input-container flex>
        <input type="text" placeholder="Rollenname" ng-model="role_name">
      </md-input-container>
      <md-button class="md-primary md-raised" ng-click="mainCtrl.createRole(role_name)">erstellen</md-button>
    </md-card-content>
  </md-card>
</div>

<div ng-if="acl.can('edit_role')">
  <md-card>
    <md-card-content>
      <h3> Rolle bearbeiten</h3>
      <md-select placeholder="Rollenname" ng-model="ctrl.userState">
        <md-option ng-repeat="role in mainCtrl.all_roles">{{role}}</md-option>
      </md-select>
      <label>
        <md-checkbox type="checkbox" ng-model="right" ng-repeat="right in mainCtrl.optionalRights">
          {{right}}
        </md-checkbox>
      </label>
      <md-button class="md-primary md-raised" ng-click="mainCtrl.editRole(role_name)">erstellen</md-button>
    </md-card-content>
  </md-card>
</div>

